@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lora&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {

  margin: auto;
  font-family:'Krona One', 'Lora';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
}

html {
  font-size: 1rem;
}


.slide-enter,
.slide-exit {
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.slide-enter {
  transform: opacity;
  opacity: 0
}

.slide-enter.slide-enter-active {
  transform: opacity(0%);
}

.slide-exit {
  transform: opacity(0%);
}

.slide-exit-active {
  transform: opacity(-100%);
}
