@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Lora&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family:'Krona One', 'Lora';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

